body {
    background-color: white;
    font-family: 'Pacifico', cursive;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 70px;
    border: 15px double rgba(30, 213, 212, 0.73);
    font-size: 320%;
}

.fio {
    text-align: center;
    margin-top: 120px;
    text-shadow: blue 2px 3px 15px;
    font-size: 230%;
}

.info {
    margin-top: 120px;
    text-align: left;
    text-decoration: underline red;
    font-size: 180%;
}

.like {
    margin-top: 120px;
    text-decoration: underline red;
    text-align: right;
    font-size: 180%;
}